html {
    font-family: "Lucida Grande", "Helvetica Neue", Calibri, sans-serif;
    font-size: 1.25em;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    margin: auto;
    max-width: 480px;
}

.fin {
    color: #ccc;
    font-size: .6em;
    margin: 40px 0 20px 0;
    text-align: center;
}

#contact-list li {
    display: inline-block;
    margin: 0 .3em;
}

.contact-icon {
    width: 16px;
}

.chn {
    font-size: .8em;
    font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei";
}

#portfolio-list {
    /*font-family: 'Source Sans Pro', sans-serif;*/
}

#portfolio-list li {
    border-bottom: 1px #ccc dotted;
}

#portfolio-list li:first-child {
    border-top: 1px #ccc dotted;
}

.project-name {
    font-family: Georgia, serif;
    font-size: 1.1em;
    /*font-weight: bold;*/
    margin-top: 15px;
}

.project-desc {
    font-size: 0.9em;
}

#skills li {
    margin: 10px 0;
    padding: 10px 40px 10px 10px;
}

.progress {
    background: #ddd;
    border-radius: 2px;
    display: inline-block;
    float: right;
    height: 24px;
    width: 340px;
}

.progress span {
    background: #000;
    border-radius: 2px;
    display: inline-block;
    height: 100%;
}