<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>ushuz's</title>
  <link rel="shortcut icon" type="image/png" href="{{ static_url('icons/favicon.png') }}">
  <link rel="stylesheet" href="{{ static_url('normalize.css') }}">
  <link rel="stylesheet" href="{{ static_url('style.css') }}">
  <script async src='//www.google-analytics.com/analytics.js'></script>
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-69604784-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="main">
    <section id="about">
      <h2>About</h2>
      <p>Hi, I'm <b>ushuz</b> online, <b>John Hu</b> (<b class="chn">胡<span title="shù" style="cursor:help;border-bottom:1px dotted;">澍</span>拯</b>) in the real world.</p>
      <p>I'm fond of simple and adorable stuff. Building things with Python and other tools I like always makes me thrilled.</p>
      <p>I believe technology smooths our lives.</p>
    </section>
    <section id="skills">
      <h2>Skills</h2>
      <ul>
        <li><div class="progress"><span style="width:75%"></span></div><span class="skill">Python</span></li>
        <li><div class="progress"><span style="width:50%"></span></div><span class="skill">JavaScript</span></li>
        <li><div class="progress"><span style="width:45%"></span></div><span class="skill">CSS</span></li>
      </ul>
    </section>
    <section id="portfolio">
      <h2>Portfolio</h2>
      <ul id="portfolio-list">
        <li>
          <div class="project-name"><a href="https://github.com/ushuz/letsencrypt">letsencrypt</a></div>
          <div class="project-desc"><p>Yet another simple <a href="https://letsencrypt.org/" rel="nofollow" target="_blank">Let's Encrypt</a> client.</p></div>
        </li>
        <li>
          <div class="project-name"><a href="https://github.com/ushuz/autumn">autumn</a></div>
          <div class="project-desc"><p>A <b>Pythonic</b> MySQL ORM, almost.</p></div>
        </li>
        <li>
          <div class="project-name"><a href="/noven">Noven</a></div>
          <div class="project-desc"><p>A Tornado-based JWXT enhancement including SMS notification, Weixin support, mobile-friendly UI, etc. Available in BJFU and ZJU.</p></div>
        </li>
        <li>
          <div class="project-name"><a href="https://github.com/ushuz/weixin-simulator">weixin-simulator</a></div>
          <div class="project-desc"><p>A tkinter GUI used for Weixin MP development.</p></div>
        </li>
        <li>
          <div class="project-name"><a href="https://github.com/ushuz/mockingbird">mockingbird</a></div>
          <div class="project-desc"><p>An AngularJS-based Weixin simulator.</p></div>
        </li>
        <li>
          <div class="project-name"><a href="https://github.com/ushuz/autolecture">autolecture</a></div>
          <div class="project-desc"><p>Generate Outlook appointments according to class timetable. My first work written in Python.</p></div>
        </li>
      </ul>
    </section>
    <section id="contact">
      <h2>Contact</h2>
      <ul id="contact-list">
        <li>
          <a href="mailto://hszqqq12@gmail.com" title="hszqqq12@gmail.com">
            <img src="{{ static_url('icons/gmail.png') }}" alt="gmail" class="contact-icon">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/ushuz_" title="@ushuz_">
            <img src="{{ static_url('icons/twitter.png') }}" alt="twitter" class="contact-icon">
          </a>
        </li>
        <li>
          <a href="http://www.douban.com/people/hsz17531">
            <img src="{{ static_url('icons/douban.png') }}" alt="douban" class="contact-icon">
          </a>
        </li>
        <li>
          <a href="https://github.com/ushuz">
            <img src="{{ static_url('icons/github.png') }}" alt="github" class="contact-icon">
          </a>
        </li>
        <li>
          <a href="https://v2ex.com/member/ushuz">
            <img src="{{ static_url('icons/v2ex.png') }}" alt="v2ex" class="contact-icon">
          </a>
        </li>
      </ul>
    </section>
  </div>
  <div class="fin">♥ Built with Love</div>
</body>
</html>
